<div class="input-group">
  <label
    class="input-group-text"
    [for]="id"
    [ngStyle]="{ 'width.rem': labelWidth() ? labelWidth() : 'inherit' }"
    >{{ label() }}</label
  >
  <input
    [id]="id"
    type="text"
    class="ps-3 form-control"
    [attr.list]="dataListId()"
    [placeholder]="inputPlaceholder()"
    [formField]="batsiFormControl()"
    [ngStyle]="{
      'max-width.rem': inputMaxWidth() ? inputMaxWidth() : 'inherit',
    }"
  />
  <datalist [id]="dataListId()">
    @for (option of options(); track $index) {
      <option [value]="option"></option>
    }
  </datalist>
</div>
@if (batsiFormControl()().invalid() && batsiFormControl()().touched()) {
  <div class="text-danger small mt-1">{{ label() }} ist erforderlich</div>
}
