<ng-container *ngIf="timeTableInfo">
  <div class="d-flex flex-column align-items-center">
    <h2>{{ timeTableInfo.trainName }}</h2>
    <div>{{ timeTableInfo.stationName }}</div>

    <!-- Platform -->
    <ng-container
      *ngFor="
        let status of [
          {
            reported: timeTableInfo.platform?.reported,
            scheduled: timeTableInfo.platform?.scheduled
          }
        ]
      "
    >
      <div class="d-flex" *ngIf="status.reported || status.scheduled">
        <div>
          <span>Platform</span>
          <span>&nbsp;</span>
        </div>
        <div
          *ngIf="status?.reported as reported"
          #reportedCtl
          class="me-1 train-time-table-info__time-reported text-success"
        >
          {{ reported }}
        </div>
        <div
          *ngIf="status.scheduled"
          [ngClass]="{
            'train-time-table-info__time-scheduled--out-of-date text-danger':
              status.reported,
            'train-time-table-info__time-scheduled--hidden':
              status.reported && status.reported === status.scheduled
          }"
        >
          {{ status.scheduled }}
        </div>
      </div>
    </ng-container>

    <!-- Time -->
    <ng-container
      *ngFor="
        let status of [
          {
            reported: timeTableInfo.time?.reported,
            scheduled: timeTableInfo.time?.scheduled
          }
        ]
      "
    >
      <div class="d-flex" *ngIf="status.reported || status.scheduled">
        <div
          *ngIf="timeTableInfo.time?.reported as reported"
          #reportedCtl
          class="me-1 train-time-table-info__time-reported text-success"
        >
          {{ reported.hours }}:{{ reported.minutes }}h
        </div>
        <div
          *ngIf="timeTableInfo.time?.scheduled"
          [ngClass]="{
            'train-time-table-info__time-scheduled--out-of-date text-danger':
              status.reported,
            'train-time-table-info__time-scheduled--hidden':
              status.reported &&
              status.reported.hours === status.scheduled?.hours &&
              status.reported.minutes === status.scheduled?.minutes
          }"
        >
          {{ status.scheduled?.hours }}:{{ status.scheduled?.minutes }}h
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
