<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h2>Zug-Daten</h2>
    </div>

    <div class="card-text mt-3">
      <form [formGroup]="trainSearchForm" (ngSubmit)="onSearch()" novalidate>
        <!-- Train Number -->
        <batsi-ng-input-numeric
          [label]="'Zugnummer'"
          [labelWidth]="7.5"
          [inputMaxWidth]="10"
          [inputPlaceholder]="'z.B. 579'"
          [batsiFormControl]="trainSearchFormModel.trainNumber"
          [focus$]="trainNumberSetFocus$"
        ></batsi-ng-input-numeric>

        <!-- Station (Number) -->
        <!-- https://www.w3schools.com/howto/howto_js_autocomplete.asp -->
        <div class="input-group mt-3">
          <label class="input-group-text" [for]="inputStationCtl"
            >Station</label
          >
          <input
            #inputStationCtl
            type="string"
            class="form-control"
            [formControl]="trainSearchFormModel.stationName"
          />
        </div>

        <!-- Date -->
        <div class="input-group mt-3">
          <label class="input-group-text" [for]="inputDateCtl">Datum</label>
          <input
            #inputDateCtl
            type="date"
            class="form-control"
            [formControl]="trainSearchFormModel.date"
          />
        </div>

        <div class="mt-3">
          <batsi-ng-button-with-spinner
            [label]="'Suchen'"
            [isLoading$]="isLoading$"
          ></batsi-ng-button-with-spinner>
        </div>
      </form>
    </div>
  </div>

  <!-- Result -->
  <ng-container
    *ngIf="
      (isLoading$ | async) === false && (hasFormBeenSubmitted || hasResult)
    "
  >
    <ul class="list-group list-group-flush">
      <div *ngIf="hasFormBeenSubmitted && !hasResult">
        <li class="list-group-item active">Keine Ergebnisse</li>
      </div>
    </ul>
  </ng-container>
</div>
