.train-locomotive {
  &__icon {
    background-color: var(--bs-gray);
    border: 1px solid black;
    border-radius: 0 5rem 0 0;
    height: 100%;
  }

  &__destination {
    writing-mode: vertical-lr;
    text-align: center;
    margin-left: 0.5rem;
  }
}
