<div class="row">
  <div class="col-md-3 order-first">
    @if(timeTableInfo) {
    <batsi-train-time-table-info [timeTableInfo]="timeTableInfo">
    </batsi-train-time-table-info>
    }
  </div>

  <div class="col-md-3 order-md-last my-3 my-md-0 text-center">
    <div>
      <batsi-ng-train-wagon-filter-form
        [destinations]="train?.wagons | trainDestinations"
        (filterChanged)="onFilterChanged($event)"
      ></batsi-ng-train-wagon-filter-form>
    </div>
    <div class="mt-3">
      <strong>Vorschlag</strong>
      <div>Wagen {{ wagonSuggestedNr ?? "-" }}</div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="d-flex flex-column">
      @for(wagon of train?.wagons; track $index) {
      <div class="mt-3 d-flex justify-content-center">
        <batsi-ng-train-wagon [wagon]="wagon"></batsi-ng-train-wagon>
      </div>
      }
    </div>
  </div>
</div>
