/* Bootrap Theme - https://getbootstrap.com/docs/5.0/customize/color/ */
$primary: #cc3432;
$secondary: rgba(0, 112, 255, 0.2);

/* App Colors */
$body-bg: #efedea;
$body-bg-light: #fdfaf6;
$border-shadow-color: rgba(0, 112, 255, 0.2);
$border-shadow-size: 2px;
