@use 'node_modules/bootstrap/scss/bootstrap' as bootstrapVars;

.train-wagon {
  border: 1px solid bootstrapVars.$black;
  width: 7rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;

  &__class-info {
    color: bootstrapVars.$blue;
  }

  &__ranking {
    font-size: 2rem;
  }

  &__load {
    &-unknown {
      color: bootstrapVars.$black;
    }

    &-low {
      color: bootstrapVars.$green;
    }

    &-medium {
      color: bootstrapVars.$orange;
    }

    &-high {
      color: bootstrapVars.$red;
    }
  }
}
