<div class="row">
  <div class="col-md-3">
    <div *ngIf="timeTableInfo" class="d-flex flex-column align-items-center">
      <h2>{{ timeTableInfo.trainName }}</h2>
      <div>{{ timeTableInfo.stationName }}</div>

      <div class="d-flex">
        <div
          *ngIf="timeTableInfo.time?.reported as reported"
          #reportedCtl
          class="me-1 train-details__time-reported text-success"
        >
          {{ reported.hours }}:{{ reported.minutes }}h
        </div>
        <div
          *ngIf="timeTableInfo.time?.scheduled as scheduled"
          [ngClass]="{
            'train-details__time-scheduled--out-of-date':
              !!timeTableInfo.time?.reported
          }"
        >
          {{ scheduled.hours }}:{{ scheduled.minutes }}h
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <ng-container *ngFor="let wagon of train?.wagons">
      <div class="mt-3">
        <batsi-ng-train-wagon
          [wagon]="wagon"
          [loadRatio]="stats | wagonLoadRatio : wagon.ranking"
        ></batsi-ng-train-wagon>
      </div>
    </ng-container>
  </div>

  <div class="col-md-2"></div>
</div>
