<div class="d-flex flex-column align-items-center">
  <h2>{{ timeTableInfo().renderedTrainName }}</h2>
  <div>{{ timeTableInfo().stationName }}</div>

  <div>
    {{ timeTableInfo().date | date : "dd.MM.YYYY" }}
  </div>

  <!-- TODO: time parsing / time reported-scheduled diff -->
  <div>
    {{ timeTableInfo().time }}
  </div>

  <batsi-ng-train-time-table-info-reported-scheduled
    [label]="'Platform'"
    [reported]="platformReported()"
    [scheduled]="platformScheduled()"
  ></batsi-ng-train-time-table-info-reported-scheduled>
</div>
