<div id="batsi-app-wrapper">
  <header>
    <div class="container h-100 d-flex align-items-center">Top Header</div>
  </header>

  <main>
    <div class="container mt-3">
      <span>Hello bATsi</span>
    </div>

    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer>
    <div
      class="container h-100 d-flex align-items-center justify-content-between"
    >
      <div>LOGO</div>
      <div>
        <span>&#169;</span>
        <span>&nbsp;</span>
        <span>Felix Wagner 2023</span>
      </div>
    </div>
  </footer>
</div>
