@use '../styles/variables' as batsiVars;

#batsi-app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    background: batsiVars.$body-bg-light;
    height: 8vh;
  }

  main {
    margin-bottom: auto;
  }

  footer {
    background: batsiVars.$body-bg-light;
    height: 8vh;
  }
}
