@use '../styles/variables' as batsyVars;

#batsi-app-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    background: batsyVars.$body-bg-light;
    height: 8vh;
  }

  main {
    height: 100%;
  }

  footer {
    background: batsyVars.$body-bg-light;
    height: 8vh;
  }
}
