.train-wagon {
  &.train-wagon__locomotive-without-passengers {
    background-color: var(--bs-gray);
    border-radius: 0 4rem 0 0;
  }

  &.train-wagon__locomotive-front {
    border-radius: 0 4rem 0 0;
  }

  &.train-wagon__locomotive-rear {
    border-radius: 0 0 4rem 0;
  }

  &.train-wagon__load {
    @mixin wagon-load-color($color) {
      border: 0.15rem solid var($color);

      .train-wagon__ranking {
        color: var($color);
      }
    }

    &-unknown {
      @include wagon-load-color(--bs-black);
    }

    &-low {
      @include wagon-load-color(--bs-green);
    }

    &-medium {
      @include wagon-load-color(--bs-orange);
    }

    &-high {
      @include wagon-load-color(--bs-red);
    }
  }

  &__class-info {
    &--first {
      color: var(--bs-blue);
    }

    span {
      border-bottom: 1px solid var(--bs-black);
      border-right: 1px solid var(--bs-black);
      padding: 0.1rem;
    }
  }

  &__ranking {
    font-size: 2rem;
  }
}

.train-wagon-destination {
  writing-mode: vertical-lr;
  text-align: center;
  margin-left: 0.5rem;
}
