<div class="h-100 d-flex justify-content-between">
  <div
    class="train-wagon h-100 w-100 d-flex flex-column justify-content-between"
    [ngClass]="{
      'train-wagon__load-unknown': loadRatioUnknown(),
      'train-wagon__load-low': loadRatioLow(),
      'train-wagon__load-medium': loadRatioMedium(),
      'train-wagon__load-high': loadRatioHigh(),
      'train-wagon__locomotive-without-passengers': isLocomotiveWithoutPassengers(),
      'train-wagon__locomotive-front': isLocomotiveFrontWithPassengers(),
      'train-wagon__locomotive-rear': isLocomotiveRearWithPassengers(),
    }"
  >
    <!-- Wagon (or Locomotive) with Passengers-->
    @if(!isLocomotiveWithoutPassengers()) {
    <div class="train-wagon__class-info">
      @if(wagon().capacityFirstClass) {
      <span class="ms-1 train-wagon__class-info--first">1.</span>
      } @if(wagon().capacitySecondClass) {
      <span class="ms-1">2.</span>
      }
    </div>

    <div class="ms-auto me-auto train-wagon__ranking">
      {{ wagon().ranking }}
    </div>

    @if(!loadRatioUnknown()) {
    <div class="ms-auto me-auto">{{ this.wagon().numPassengerIcons }}</div>
    } }
  </div>

  <!-- Destination-->
  @if(isLocomotiveFront()) {
  <div class="train-wagon-destination">
    <strong>{{ wagon().destinationName }}</strong>
  </div>
  }
</div>
