## Folders
src/lib/typescript-client/model

## Files
src/lib/typescript-client/configuration.ts
src/lib/typescript-client/encoder.ts
src/lib/typescript-client/git_push.sh
src/lib/typescript-client/README.md
src/lib/typescript-client/variables.ts
